# Web
fastapi==0.135.2
uvicorn[standard]==0.42.0
python-multipart==0.0.29
httpx==0.28.1

# Agent
langchain==1.3.4
langchain-core==1.4.8
langchain-deepseek==1.1.0
langgraph==1.2.6

# Database
psycopg2-binary==2.9.12

# Deep Learning
tensorflow==2.17.0
mediapipe==0.10.14

# MLOps
mlflow==3.12.0
scikit-learn==1.8.0

# Storage
google-cloud-storage==3.10.1

# Utils
numpy==1.26.4
python-dotenv==1.2.2
requests==2.33.1